<ion-view view-title="Choix de couleur" class="view-color">
  <ion-content class="padding has-sub-header">
    <div class="card">
      <div class="item item-text-wrap">
        <h1 class="heading-view">Veuillez spécifier la couleur parmi la liste ci-dessous:</h1>
      </div>
      <div class="item">
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ff0000;" data-color="red"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#733220;" data-color="chocolate"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#5a5a5a;" data-color="grey"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#000000;" data-color="black"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#bba3c5;" data-color="lilac"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#f4408c;" data-color="fuschia"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#f4cb0d;" data-color="yellow"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#daebf3;" data-color="baby blue"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#50c58a;" data-color="jade"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#f0a6bb;" data-color="pink"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ffeaec;" data-color="shell pink"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ffffcc;" data-color="white chocolate"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#234391;" data-color="atlantic blue"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#054803;" data-color="bottle green"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#990000;" data-color="ruby red"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#01a51e;" data-color="lincoln green"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ba6e1b;" data-color="teddy bear brown"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ffff99;" data-color="pastel yellow"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ff6600;" data-color="orange"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#affee7;" data-color="duck egg blue"></span>
          </div>
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#aff084;" data-color="pastel green"></span>
          </div>
        </div>
        <div class="row group-color">
          <div class="col">
            <span class="item-color" ng-click="selectColor($event)" style="background-color:#ffffff;border: 1px solid #e5e5e5;" data-color="white"></span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
