<ion-view view-title="Showroom" name="showroom" class="view-showroom common-background">
  <ion-content class="padding has-sub-header">
    <div class="card card-showroom">
      <div class="item item-divider not-border">
        Haut
      </div>
      <div class="item item-body not-border">
        <div class="row">
          <div class="col">
            <img src="img/icons/blank.png" id="haut" />
            <span class="cover-image"><i class="ion-image"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="horizontal-center">
               <button type="button" class="button button-full button-positive" ng-click="uploadImage('haut')"><span class="ion-android-upload"></span>&nbsp;Charger une photo</button>  
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider not-border">
        Pantalon
      </div>
      <div class="item item-body not-border">
        <div class="row">
          <div class="col">
            <img src="img/icons/blank.png" id="pantalon">
            <span class="cover-image"><i class="ion-image"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="horizontal-center">
              <button type="button" class="button button-full button-positive" ng-click="uploadImage('pantalon')"><span class="ion-android-upload"></span>&nbsp;Charger une photo</button>  
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider not-border">
        Chaussure
      </div>
      <div class="item item-body not-border">
        <div class="row">
          <div class="col">
            <img src="img/icons/blank.png" id="chaussure">
            <span class="cover-image"><i class="ion-image"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="horizontal-center">
              <button type="button" class="button button-full button-positive" ng-click="uploadImage('chaussure')"><span class="ion-android-upload"></span>&nbsp;Charger une photo</button>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
