<ion-view view-title="Nous vous suggérons" name="suggestion-detail" class="view-suggestion-detail">
  <ion-content class="has-sub-header padding horizontal-center">
  	<div class="card card-suggestion ">
      <div class="item item-text-wrap">
        <h1 class="heading-view">Nous suggérons</h1>
      </div>
      <div class="item item-divider not-border">
        Haut
      </div>
      <div class="item item-body not-border">
        <div class="row">
          <div class="col">
            <img src="img/categories/costumes.jpg" class="img-suggestion" id="haut" />
          </div>
        </div>
      </div>
      <div class="item item-divider not-border">
        Pantalon
      </div>
      <div class="item item-body not-border">
        <div class="row">
          <div class="col">
            <img src="img/categories/costumes.jpg" class="img-suggestion" id="pantalon" />
          </div>
        </div>
      </div>
      <div class="item item-divider not-border">
        Chaussure
      </div>
     <!--  <div class="item item-body not-border">
        <div class="row">
          <div class="col">
            <img src="img/categories/costumes.jpg" class="img-suggestion" id="haut" />
          </div>
        </div>
      </div> -->
    </div>
  </ion-content>
  <div class="bar bar-footer not-padding">
      <button type="button" class="button button-full button-positive ink not-margin btn-autre-tenue" ng-click="autreTenue()">JE VEUX UNE AUTRE TENUE</button>
  </div>
</ion-view>